.app{
  background-color: rgba(15, 15, 15, 1);
  color: white;
  min-height: 100vh;
  max-width: 2000px;
  // @media screen and (min-width: 2000px) {
  //   margin: 0 auto;
  // }

  width: 100%;

  &Body{
    display: flex; 
    // border: 2px solid red;
    padding-top: 100px;
    overflow: hidden;
    // background-color: black;
  }
}